body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.home-page {
    text-align: center;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
}

.featured-books {
    margin-top: 20px;
}

.bookcover {
    max-width: 100%;
    height: auto;
}

.user-section {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.btn:hover {
    background-color: #2980b9;
}

.bookcover{
    width: 340px;
    height: 400px;
}